<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <script differ src="script.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> SIGN UP</h1>
    <form action="/formhandler" method="get">
        <label for="username">please enter your name</label>
        <input type="text" name="username" id="username" required>
        <label for="useremail">please enter your email</label>
        <input type="email" name="useremail" id="" required>
        <input type="submit" value="SIGN UP">
    
    </form>
</body>
</html>